:root {
  --heading-font: "Rubik Vinyl", cursive;
  --secret-number-color: #ffbd67;
  --button-color: #5be7a9;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #f8fe85;
  min-height: 100%;
}

header {
  margin: 2.5rem 2.5rem 1.25rem 3.75rem;
}

header h2 {
  font-size: 1.875rem;
}

h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-size: 5.62rem;
  text-shadow: 0.313rem 0.313rem 0.125rem var(--secret-number-color);
}

header .restart-button,
.main-content .check-button {
  background-color: var(--button-color);
  font-size: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.063rem 0.125rem 0rem;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0rem 0.25rem 0.5rem -0.125rem,
    rgba(9, 30, 66, 0.08) 0rem 0rem 0rem 0.063rem;
}

header .restart-button:hover,
.main-content .check-button:hover {
  background-color: #5eb38b;
  box-shadow: rgba(0, 0, 0, 0.17) 0rem -1.438rem 1.563rem 0rem inset,
    rgba(0, 0, 0, 0.15) 0rem -2.25rem 1.875rem 0rem inset,
    rgba(0, 0, 0, 0.1) 0rem -4.938rem 2.5rem 0rem inset,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.063rem,
    rgba(0, 0, 0, 0.09) 0rem 0.25rem 0.125rem,
    rgba(0, 0, 0, 0.09) 0rem 0.5rem 0.25rem,
    rgba(0, 0, 0, 0.09) 0rem 1rem 0.5rem, rgba(0, 0, 0, 0.09) 0rem 2rem 1rem;
}

header h2 .arrow {
  font-size: 1.563rem;
  color: #5eb38b;
}

.main-content .secret-number {
  background-color: var(--secret-number-color);
  width: 12.5rem;
  margin: 1.25rem auto;
  font-family: var(--heading-font);
  text-align: center;
  font-size: 4.38rem;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.313rem 0.938rem 0rem;
}

.main-content .container {
  margin-top: 3.125rem;
}

.main-content .input-field {
  display: block;
  margin: 0 auto;
  width: 8.125rem;
  font-size: 5.625rem;
  line-height: 5.625rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  background-color: var(--secret-number-color);
  opacity: 0.6;
  border-radius: 1.25rem;
  border-color: #f29318;
}

.main-content .check-button {
  display: block;
  margin: 0.938rem auto;
}

.main-content .paragraph-info {
  font-size: 1.75rem;
  padding-top: 0.938rem;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

footer .author a {
  text-decoration: none;
}

footer .author a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) and (min-width: 412px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 8px;
  }
  .main-content .input-field {
    width: 10rem;
  }
}
